*{
    margin: 0;
    padding: 0;
}
.asos{
    max-width: 1440px;
    margin: 30px auto;
}
.header{
    
    background-image: url(img/img.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.header2{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
}
.logo{
}
.menu{
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
}
.button1{
    color: white;
    margin-top: 15px;
    margin-right: 30px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(11, 29, 49);
}
.flex-class{
    display: flex;
    justify-content: space-around;
    padding-bottom: 230px;
}
.matnlar{
    padding-top: 100px;
    color: white;
}
.iltes{
    padding-top: 10px;
    font-size: 65px;
    font-weight: bold;
}
span{
    color:#C6CFDC;
}
.iltes3{
    color:#C6CFDC;
}
.iltes4{
    font-size: 20px;
}
.button2{
    color: white;
    background-color: #5282FF;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    margin-top: 20px;
}
.img-class{
    padding-top: 180px;
}
.asoss-2{
    display: flex;
}
.button3{
    margin-top: 100px;
    font-weight: bold;
    margin-left: 100px;
    width: 275px;
    height: 37px;
    background-color: white;
    border: 1px solid #6B24A9;
    border-radius: 7px;
}
.iltess{
   padding-left: 100px;
   font-size: 63px;
   font-weight: bold;
}
.iltes8{
    color:#C6CFDC;
}
.img-absalyute{
    position: absolute;
    margin-left: -630px;
}
.asoss-3{
    width: 100%;

    margin-top: 100px;
    margin-left: 800px;
    margin-bottom: 100px;
}
.joy-berish{
    justify-content: right;
    
}
.iltes4{
    font-size: 20px;
    font-weight: bold;
    color: #1D2733;
}
.asoss-4{
    margin-left: 110px;
    display: flex;
    border-radius: 20px;
    max-width: 607px;
    max-height: 330px;
    background-color: #EFF1F4;
}
.cqrt1{
   padding-top: 20px;
}
.cqr{
    font-size: 20px;
    padding-left: 60px;
}
.werry{
    color: #5282FF;
    border: 2px solid #5282FF;
    border-radius: 7px;
    margin-top: 120px;
    margin-left: 50px;
    width: 229px;
    height: 45px;
}
.adashb-kettm{
    display: flex;
}